@import "tailwindcss";

/* Esconde o Dev Indicator do Next.js */
[data-nextjs-dev-indicator],
[data-nextjs-toast] {
  display: none !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: .5rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, .8);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}